<body>
  <h1> Hacker News Scraper </h1>

  <ol>
    <li>
      <ul>
        <li> Name of Article Here </li>
        <li> URL of Article Here </li>
        <li> Points of Article Here </li>
        <li> Parent Site URL Here </li>
      </ul>
    </li>

    <li>
      <ul>
        <li> Name of Article Here </li>
        <li> URL of Article Here </li>
        <li> Points of Article Here </li>
        <li> Parent Site URL Here </li>
      </ul>
    </li>

    <li>
      <ul>
        <li> Name of Article Here </li>
        <li> URL of Article Here </li>
        <li> Points of Article Here </li>
        <li> Parent Site URL Here </li>
      </ul>
    </li>

    <li>
      <ul>
        <li> Name of Article Here </li>
        <li> URL of Article Here </li>
        <li> Points of Article Here </li>
        <li> Parent Site URL Here </li>
      </ul>
    </li>
  </ol>