
  <h1> Hacker News Scraper </h1>

  <ol>
    <% 4.times do |n| %>
    <li>
      <ul>
        <li> <%= @topfour[n].title %> </li>
        <li> <%= @topfour[n].url %> </li>
        <li> <%= @topfour[n].points.to_i %> </li>
      </ul>
    </li>
    <% end %>
  </ol>
